// Example of a minimal rule for testing UNauthenticated uploads:
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allows any unauthenticated user to write files into the 'user-videos' folder
    // Note: Use this ONLY for testing, not production.
    match /user-videos/{allPaths=**} {
      allow write: if true; 
      allow read: if true;
    }
  }
}